name: Sync Screenshots

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
  push:
    branches:
      - enes/image-generation

jobs:
  sync-screenshots:
    runs-on: ubicloud-standard-8
    steps:
      - name: Setup SSH access
        uses: ubicloud/ssh-runner@v1
        with:
          public-ssh-key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMsY2oTeeKCK8pr339MREPlai6bvnlnCX3pvCCBKoJ7c enes@cakir.web.tr"
          wait-minutes: 120  # Optional, default is 10 minutes

      - name: Checkout documentation repository
        uses: actions/checkout@v5
        with:
          path: documentation

      - name: Get latest screenshot script from ubicloud/ubicloud
        uses: actions/checkout@v5
        with:
          repository: ubicloud/ubicloud
          path: ubicloud
          ref: enes/regen-ss-dir

      - name: Set up Clover
        uses: ./ubicloud/.github/actions/setup-clover@main
        with:
          working-directory: ubicloud

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "ubicloud/package.json"

      - name: Install node packages
        working-directory: ubicloud
        run: |
          npm ci
          npm run prod

      - name: Run screenshot script
        working-directory: ubicloud
        continue-on-error: true
        run: bundle exec ./bin/regen-screenshots

      - name: Check for changes in screenshots directory
        id: check-changes
        working-directory: documentation
        run: |
          if [ -n "$(git diff --quiet)" ]; then
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi

      - name: Update screenshots specification if changed
        if: steps.check-changes.outputs.changes == 'true'
        working-directory: documentation
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b generate-screenshots
          git add .
          git commit -m "Update screenshots"
          git push
